/* SESSION BOX */
#session-1 {
  padding: 5%;
  width: 75%;
  margin: 12.5%;
  background-color: rgba(0,0,0,0.15);
  border-radius: 3em;
}


/* COMMAND SECTIONS */
section {
  display: flex;
  text-align: center;
}


/* COMMAND SECTION CONTENTS */
section > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  margin: 0em 3em;
}

section > p:nth-child(2) {
  margin-right: 1em;
  border: solid;
  border-radius: 3em;
  border-color: white;
  border-width: 0.24em;

}

section > p:nth-child(3) {
  margin-left: 0em;
  width: 14em;
}


/* BUFFER FOR GENERATING LINE */
.buffer {
  margin: 0em 6em;
  height: 5em;
  width: 7.5em;
  border-right: 0.1em solid rgba(0,0,0,0.45);
}


/* TOOLTIPS CONTAINER */
.tooltip-inner {
    background-color: white;
    padding: 0.5em;
    width: 30em;
    text-align: left;
}

.tooltip.right > .tooltip-arrow {
    border-right: 5px solid white;
}

/* TOOLTIP CONTENT */
h4, h5, h6 {
 margin: 0.2em 0em;
 padding: 0.2em 0em;
}

h4, h5 {
 color: rgba(0,0,0,0.8);
}

h6 {
 color: rgba(0,0,0,0.4);
}

/* START AND END SECTIONS */
.start {
  background-color: rgba(0,150,30,0.7);
}

.end {
  background-color: rgba(180,0,0,0.7);
}
